#block-text.block
  .content
    %h2.title Dashboard
    .inner
      %p.first
        There are really no instructions.
      %p
        Remember when you create an auction item, you have to have already uploaded the picture.
      %hr
      %span.hightlight
        Be careful with the DELETE links, they are irreversible!
      //%p
      //%span.small
      //Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      //%p
      //%span.gray
      //Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      //%hr


-content_for :sidebar, partial("base/sidebar")