%table 
  %tr
    %td{ :width => "800", :height => "20" } 
      %table 
        %tr
          %td{ :width => "800", :height => "20", :valign => "top" }
            %table{ :colspan => "3" }
              %tr
                %td{ :width => "12", :height => "20", :background => "imgs/whtTLcorner.png" }
                %td{ :width => "776", :height => "20", :bgcolor => "#F9F9F9" }
                %td{ :width => "12", :height => "20", :background => "imgs/whtTRcorner.png" }
        %tr
          %td{ :width => "800", :height => "100", :bgcolor => "#F9F9F9" }
            %table{ :colspan => "3" }
              %tr
                %td{ :width => "10" }
                %td{ :width => "780", :height => "30", :valign => "top" }
                  %p{ :align => "center" }
                    %span.toplinks
                      %p
                        %b Welcome to the official website of The Saint Andrews Society of the Middle South. 
                        %br
                        %b This site is accessible by society members only. To login, please click below.
                %td{ :width => "10" }
              %tr
                %td{ :width => "10" }
                %td{ :width => "780", :height => "60", :style => "background-image:url('imgs/loginback.png'); background-repeat: no-repeat; background-position: top center;" }
                  %p{ :align => "center" }
                    %span.bigred
                      %a{ :href => "members/dashboard" } Member Login
                %td{ :width => "10" }
              %tr
                %td{ :width => "10" }
                %td{ :width => "780", :height => "10" }
                  %p{ :align => "center" }
                    %span.toplinks
                      Forgotten your login? No problem. Just email the 
                      %a{ :href => "mailto:webmajor@sasmiddlesouth.org" } Webmajor
                %td{ :width => "10" }
        %tr
          %td{ :width => "800", :height => "20", :valign => "top" }
            %table{ :colspan => "3" }
              %tr
                %td{ :width => "12", :height => "20", :background => "imgs/whtBLcorner.png" }
                %td{ :width => "776", :height => "20", :bgcolor => "#F9F9F9" }
                %td{ :width => "12", :height => "20", :background => "imgs/whtBRcorner.png" }