%table 
  %tr
    %td{ :width => "800", :height => "20" } 
      %table 
        %tr
          %td{ :width => "800", :height => "20", :valign => "top" }
            %table{ :colspan => "3" }
              %tr
                %td{ :width => "12", :height => "20", :background => "/imgs/whtTLcorner.png" }
                %td{ :width => "776", :height => "20", :bgcolor => "#F9F9F9" }
                %td{ :width => "12", :height => "20", :background => "/imgs/whtTRcorner.png" }
        %tr
          %td{ :width => "800", :height => "100", :bgcolor => "#F9F9F9" }
            %table{ :colspan => "3" }
              %tr
                %td{ :width => "10" }
                %td{ :width => "780", :height => "30", :valign => "top" }
                  %h1 Site Error
                  %span.bigred 
                    There has been a critical error in the application, the page does not exist, or you do not have access to the page requested. If the error persists, please contact the 
                    %p
                      %a{ :href => "mailto:webmajor@sasmiddlesouth.org" } webmajor@sasmiddlesouth.org
                %td{ :width => "10" }
        %tr
          %td{ :width => "800", :height => "20", :valign => "top" }
            %table{ :colspan => "3" }
              %tr
                %td{ :width => "12", :height => "20", :background => "/imgs/whtBLcorner.png" }
                %td{ :width => "776", :height => "20", :bgcolor => "#F9F9F9" }
                %td{ :width => "12", :height => "20", :background => "/imgs/whtBRcorner.png" }