.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:auction_items, :index)
      %li=link_to pat(:new), url(:auction_items, :new)
      %li.active=link_to pat(:edit), url(:auction_items, :edit, :id => @auction_item.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:auction_item)
    .inner
      -form_for :auction_item, url(:auction_items, :update, :id => @auction_item.id), :method => :put, :class => :form do |f|
        =partial "auction_items/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")