%td{ :width => "180", :height => "300", :valign => "top" }
  %table
    %tr
      %td{ :width => "180", :height => "300", :valign => "top" }
        %table>
          %tr
            %td{ :width => "180", :height => "29", :background => "/imgs/navigate.png" }
          %tr
            %td.nav2
              %span.navfirst
                %a.navlink{ :href => "dashboard" }
                  %span.navlevel1
                    Dashboard
          %tr
            %td.nav2
              %span.navfirst
                %a.navlink{ :href => "upcoming_events" }
                  %span.navlevel1
                    Upcoming Events
          %tr
            %td.nav2
              %span.navfirst
                %a.navlink{ :href => "online_auction" }
                  %span.navlevel1
                    Heritage Night Auction
          %tr
            %td.nav2
              %span.navfirst
                %a.navlink{ :href => "membership_resources" }
                  %span.navlevel1
                    Membership Resources
          %tr
            %td.nav2
              %span.navfirst
                %a.navlink{ :href => "highland_attire" }
                  %span.navlevel1
                    How to Wear Highland Attire</span>
          %tr
            %td.nav2
              %span.navfirst
                %a.navlink{ :href => "officer_roster" }
                  %span.navlevel1
                    Officer Roster 2010
          %tr
            %td.nav2
              %span.navfirst
                %a.navlink{ :href => "photo_gallery" }
                  %span.navlevel1
                    Photo Gallery
          %tr
            %td.nav2
              %span.navfirst
                %a.navlink{ :href => "helpful_links" }
                  %span.navlevel1
                    Helpful Links
          %tr
            %td{ :width => "180", :height => "20", :background => "/imgs/navbottom.png" }
        %table
          %tr
            %td{ :width => "180", :height => "20" }
        / 
          %table
          %tr
            %td
              %a{ :href => "/Kilty_Hour_Scotch_Tasting_Invitation.pdf", :target => "_blank" }
                %img{ :src => "/imgs/kiltyhappyhour.png", :height => "280", :border => "no" }
%td{ :width => "20", :height => "300" }
  %table
    %tr
      %td{ :width => "20", :height => "300" }
