%table{ :colspan => "3" }
  %tr
    = partial 'members/sidemenu'
    %td{ :width => "600", :height => "300", :valign => "top" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "12", :height => "20", :background => "/imgs/whtTLcorner.png" }
          %td{ :width => "576", :height => "20", :bgcolor => "#F9F9F9" }
          %td{ :width => "12", :height => "20", :background => "/imgs/whtTRcorner.png" }
        %tr
          %td{ :width => "600", :height => "260", :bgcolor => "#F9F9F9", :colspan => "3" }
            %table
              %tr
                %td{ :width => "10" }
                %td{ :width => "580", :height => "260", :valign => "top" }
                  %span.bigred
                    Ceud m&igrave;le f&agrave;ilte!
                  %span.toplinks
                    %p{ :align => "justify" } 
                      Welcome to the official website of The Saint Andrews Society of the Middle South. This site is accessible only by society members. The function of this site is to offer helpful resources to society members and to share images and information about past functions and upcoming events. From this 
                      %b Dashboard
                      you can navigate easily through the site using the links in the 
                      %b Navigate
                      box to your left.
                    %p{ :align => "justify" } 
                      Features of this site include:
                      %li
                        %b Upcoming Events:
                        A calendar of upcoming events including locations and links to maps and directions
                      %li
                        %b Membership Resources:
                        Information about members and membership
                      %li
                        %b How to Wear Highland Attire:
                        Information on how to wear your Highland Attire and where to purchase it
                      %li
                        %b Officer Roster:
                        Current Roster of Society Officers including contact information
                      %li
                        %b Photo Gallery:
                        A collection of digital photos from past society functions
                      %li
                        %b Helpful Links:
                        An exhaustive list of links of interest to society members and Scottish enthusiasts
                    %p{ :align => "justify" }
                      We hope that you enjoy using the site! Please report any broken links to the 
                      %a{ :href => "mailto:webmajor@sasmiddlesouth.org"} Webmajor.
                  %p{ :align => "center" }
                    %table
                      %tr
                        %td{ :width => "580", :height => "60", :style => "background-image:url('/imgs/upcomingeventback.png'); background-repeat: no-repeat; ", :valign => "top" }
                          %table
                            %tr
                              %td{ :width => "10" }
                              %td{ :width => "560" }
                                %p{ :align => "justify" }
                                  %img{ :src => "/imgs/31.png", :align => "top" }
                                    %span.bigred
                                      Our next Board of Managers Meeting ...
                                %p{ :align => "justify" }
                                  %span.toplinks
                                    %b
                                      Next Board of Managers Meeting to be announced ... 
                              %td{ :width => "10" }
                %td{ :width => "10" }
        %tr
          %td{ :width => "12", :height => "20", :background => "/imgs/whtBLcorner.png" }
          %td{ :width => "576", :height => "20", :bgcolor => "#F9F9F9" }
          %td{ :width => "12", :height => "20", :background => "/imgs/whtBRcorner.png" }