%table{ :colspan => "3" }
  %tr
    = partial 'members/sidemenu'
    %td{ :width => "600", :height => "100", :valign => "top" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "12", :height => "20", :background => "/imgs/whtTLcorner.png" }
          %td{ :width => "576", :height => "20", :bgcolor => "#F9F9F9" }
          %td{ :width => "12", :height => "20", :background => "/imgs/whtTRcorner.png" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "600", :height => "100", :bgcolor => "#F9F9F9" }
            %table{ :colspan => "3" }
              %tr
                %td{ :width => "10" }
                %td{ :width => "580", :height => "163", :valign => "top" }
                  %span.bigred 
                    Festivals &amp; Games
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://www.asgf.org/", :target => "_blank" } Association of Scottish Games and Festivals
                      %br
                      Provides calendar of Scottish festivals and games throughout the US listed by month.
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://www.ccsna.org/games/", :target => "_blank" } Calendar of Highland Games and Scottish Events in North America
                      %br
                      Provided by the Clan Campbell Society (North America) and based on information from various sources, lists Highland Games, faires, festivals, Burns Suppers, and other Scottish and Celtic events.
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://www.gmhg.org/", :target => "_blank" } Grandfather Mountain Highland Games
                      %br
                      The Southeast's largest festival held every July in MacRae Meadows on Grandfather Mountain near Linville, North Carolina.
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://www.smhg.org/", :target => "_blank" } Stone Mountain Highland Games
                      %br
                      Two-day festival in Stone Mountain, Georgia every third weekend in October, featuring pipe band competitions, athletic competitions, highland dance competitions, demonstrations, vendors and more.
                  %span.bigred 
                    General Interest
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://www.electricscotland.com/", :target => "_blank" } Electric Scotland
                      %br
                      Information on the history of Scotland, the Scots and Scotch Irish as well as people and places of Scots descent around the world. We also have lots of information on Scottish clans and families and their tartans and genealogy.
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://www.maninaskirt.com", :target => "_blank" } Man in a Skirt
                      %br
                      Website of Toastmaster International and Scottish comedian Sir Jeremy Bell. 
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://www.tartanday.org/", :target => "_blank" } National Tartan Day
                      %br
                      Information about Tartan Day, the National Holiday for all Scottish Americans, held every year on April 6th.
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://www.tartanweek.com/", :target => "_blank" } New York Tartan Week
                      %br
                      The largest event celebrating Scotland sponsored by Glenfiddich Single Malt Scotch Whisky and Walkers. A week-long festival taking place around Tartan Day in New York City, inviting pipe bands, individual pipers, drummers and drum majors, Scottish clans and organizations to take part.
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://www.scotchmaltwhisky.co.uk/", :target => "_blank" } Scotch Malt Whisky
                      %br
                      Provides a guide to Scotch Whisky with articles about Scotch Whisky, how Scotch Malt Whisky is made, and how Scotch Blended Whisky is made. Includes the helpful article 
                      %a{ :href => "http://www.scotchmaltwhisky.co.uk/how-to-drink.htm", :target => "_blank" } How to Drink Scotch Whisky
                      \.
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://www.scotchwhisky.net/", :target => "_blank" } Scotch Whisky.net
                      %br
                      Provides the most comprehensive up-to-date information regarding Scotch Whisky and the Scotch Whisky industry.
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://www.scottishtartans.org/", :target => "_blank" } Scottish Tartans Museum
                      %br
                        Large museum and gift shop located in Franklin, North Carolina, founded by Scottish Tartans Society displaying Scottish Tartans. 
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://www.scotchwhisky.net/", :target => "_blank" } Whisky.com
                      %br
                      Provides reviews about the various brands of single malt Scotch whisky and articles about the history of Scotch whisky.
                  %span.bigred 
                    Celtic Musicians
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://birminghambagpiper.com/", :target => "_blank" } Birmingham Bagpiper
                      %br
                      Website for Ryan Morrison, the ONLY fully professional ceremonial bagpiper in the state of Alabama. Available for hire and for bagpipe lessons.
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://www.hooleymusic.com/", :target => "_blank" } Hooley
                      %br
                      Birmingham-based Irish and Scottish traditional music ensemble.
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://ismpb.com/", :target => "_blank" } Ian Sturrock Memorial Pipe Band
                      %br
                      The Saint Andrews Society of the Middle South's pipe band, newly christened in honor of the first piper in the state of Alabama, the late Ian Sturrock, native Scot, Society member and the band's Pipe Major Emeritus. His pipes are still played today by the band's director and Society member Pipe Major Ryan Morrison.
                  %span.bigred 
                    Vendors: Kilts & Highland Attire
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://www.alexismalcolmkilts.com/", :target => "_blank" } Alexis Malcolm Kilts
                      %br
                      Quality Kilts, Kilted Skirts and Plaids hand made in the classic tradition, individually and specifically for each wearer. Made of 100% worsted wool Tartan from the finest mills in Scotland.
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://www.hendersongroupltd.com/", :target => "_blank" } Henderson Imports, Ltd.
                      %br
                      Supplies bagpipes, drums, accessories, uniforms and more. Home of "Build-A-Sporran" custom designed sporrans.
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        %a{ :href => "http://jhiggins.net/", :target => "_blank" } J. Higgins, Ltd.
                      %br
                      Makers of inexpensive quality kilts, jackets, hose and other Scottish clothing accessories for 25 years.
                  %p{ :align => "justify" }
                    %span.toplinks
                      %b
                        Please suggest a link or report a broken link to the
                        %a{ :href => "mailto:webmajor@sasmiddlesouth.org", :target => "_blank" } Webmajor
                  %p{ :align => "right" }
                    %span.toplinks
                      %b
                        %a{ :href => "helpful_links#top"} 
                          %img{ :src => "/imgs/top.png", :border => "no" }
                            Return to the Top
                %td{ :width => "10" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "12", :height => "20", :background => "/imgs/whtBLcorner.png" }
          %td{ :width => "576", :height => "20", :bgcolor => "#F9F9F9" }
          %td{ :width => "12", :height => "20", :background => "/imgs/whtBRcorner.png" }