%table{ :colspan => "3" }
  %tr
    = partial 'members/sidemenu'
    %td{ :width => "600", :height => "100", :valign => "top" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "12", :height => "20", :background => "/imgs/whtTLcorner.png" }
          %td{ :width => "576", :height => "20", :bgcolor => "#F9F9F9" }
          %td{ :width => "12", :height => "20", :background => "/imgs/whtTRcorner.png" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "10", :bgcolor => "#F9F9F9" }
          %td{ :width => "580", :height => "163", :valign => "top", :bgcolor => "#F9F9F9" }
            %span.bigred 
              How to Wear Highland Attire
            %span.toplinks
              %p{ :align => "justify" }
                Most society members will at some point desire to own their own kilt outfit, and the three most important things to know about Highland Attire is how to wear it, what to buy, and where to buy it. Most importantly, you want to look smart in your kilt outfit and you want to feel confident when you wear it. So, let us begin by discussing how to wear Highland Attire.
              %p{ :align => "justify" }
                Wearing Highland Attire properly is not rocket science, but it is a serious matter. There is much unspoken convention that goes along with the wearing of Highland Attire, and if one is to do so correctly and properly, then one must adhere to these conventions. No cardinal sin is committed by violating these conventions, but wearing the kilt properly brings confidence to the wearer and demonstrates an awareness and an appreciation of our proud heritage.
              %p{ :align => "justify" }
                Though it is encouraged that the experienced kilt-wearer fervently explore the various possibilities of the garment, it is advised that the fledgling kilt-wearer first begin with the following tried-and-true conventional ensemble. 
            %span.bigred 
              The Semi-Formal Outfit
            %span.toplinks
              %p{ :align => "justify" }
                The Semi-Formal Outfit is appropriate for day and evening functions and offers a great deal of variety. We shall begin below with a quick checklist of all the items you will need to complete your Semi-Formal Outfit. We will then briefly discuss the conventions that go along with each item. 
              %p{ :align => "justify" }
                %ul
                  %li 8 yard kilt
                  %li black leather sporran with chain strap
                  %li black leather kilt belt and buckle
                  %li cream colored kilt stockings
                  %li garter flashes in a complimentary color
                  %li black leather brogues or ghillie brogues
                  %li button-up long-sleeve dress shirt
                  %li complimentary necktie ( not a tartan tie )
                  %li black barethea wool Argyll style kilt jacket ( not a blazer ) with optional waistcoat
                  %li optional headwear (Balmoral bonnet or a Glengarry cap)
              %p{ :align => "justify" }
                Let us now move along to the topic of assembling your kilt outfit. As aforementioned, there are various conventions to be aware of, so let's discuss each of these items in more detail.
              %p{ :align => "justify" }
                %b Purchasing your kilt.
                It goes without saying that your kilt is the most important part of your ensemble. So, we must make sure you do two things right from the start: (1) you must pick the right tartan for you; and (2) you must make sure you measure your kilt properly for the perfect fit. 
              %p{ :align => "justify" }
                Remember that choosing a tartan really hinges on personal preference. It is most important that you purchase a tartan that appeals to you. The more you like it, the more you will wear it. Now, there are some nice looking tartans out there, and there are some not-so-nice looking ones. You can either choose a tartan that relates directly to your surname (such as the MacDonald clan tartan for the surname Donaldson), or you can select from some attractive universal tartans for general wear, such as the Scottish National Tartan or the American National Tartan.
              %p{ :align => "justify" }
                Most tartans have color options too. For example, you can often purchase the same tartan in "modern" colors (dark, rich pigments) and "ancient" colors (light, almost faded pigments meant to make your kilt appear weathered). 
              %p{ :align => "justify" }
                Most tartans also come in a variety of weights. Military weight is around 16 to 17 ounces per yard. This is the most durable weight, but it is heavy. The recommended weight if your tartan is available in it is the 13 ounces per yard. This is heavy enough to maintain its shape and hold its pleats while being light enough to wear in the South.
              %p{ :align => "justify" }
                When you are ready to order your kilt, follow the measurement instructions to the letter, and always measure twice. And be honest about your measurements! Most importantly, be sure to have someone else measure you. 
                %i Never
                measure yourself! 
              %p{ :align => "justify" }
                %b The sporran.
                Let's face facts lads. The word "sporran" comes from the Scottish Gaelic word for "purse," and that's really all the sporran is. It is your man-purse. But wearing a sporran is completely necessary as a proper kilt does not come equipped with pockets. It is recommended in purchasing your first sporran to accompany your Semi-Formal Outfit that you go with something in black leather that is attractive but not too flashy. Some have tassels and metal studs. Some have open tops and some flaps. Some have Celtic designs tooled into the leather. Buy what appeals to you. However, for now, avoid fur sporrans as they are more appropriate for formal evening wear only. Brown leather should be avoided for now as well as it is appropriate only for informal day functions.
              %p{ :align => "justify" }
                To accompany your sporran you will need a sporran belt. I recommend a chain belt as the is appropriate for both formal and semi-formal occasions. Be sure to purchase a silver chain with black leather straps. 
              %p{ :align => "justify" }
                The sporran should be worn centered over the front of the body directly over your groin. The top of your sporran should sit approximately three inches below your kilt belt buckle. You may elect to wear the sporran belt through the belt loops in the back of your kilt though it is not necessary.
              %p{ :align => "justify" }
                %b The kilt belt.
                The belt is really more of an ornament. The kilt usually has three buckle straps that hold it firmly in place, so a belt is unnecessary for holding the kilt up. However, no outfit is complete without the belt. It is recommended that you purchase a black leather belt with a silver buckle. There are several designs for the buckle that you may opt for. Nothing is inappropriate, just make sure that your metal accouterments match (e.g., silver sporran chain belt, silver buttons on your kilt jacket, silver kilt belt buckle).
              %p{ :align => "justify" }
                There is some (strange and unnecessary) controversy about wearing the kilt belt through the belt loops on the kilt. Wear it through the loops. That's what they are there for.
              %p{ :align => "justify" }
                %b The kilt stockings.
                Also called "kilt hose," the stockings are the big socks worn with the kilt. It is recommended that your first pair of stockings be in the cream (sometimes called "ecru") color. This color is appropriate for any function be it informal, semi-formal, or formal. Some of the best stockings out there are called "Piper stockings" though they may be worn by anyone. They are extra long at the top so they may fit any length calf and may be folded over for a full look at the top. They are also very durable and will last for years with minimal wear.
              %p{ :align => "justify" }
                Do be sure that your stockings are worn nicely with the ribs of the stocking straight and parallel up the calf. Also, be sure that the fold-over is of even length on both sides. Nothing looks more untidy than a disheveled pair of stockings! </p>
              %p{ :align => "justify" }
                %b Garter flashes.
                Garter flashes are the ribbons that peak from under the fold-over on the stockings. Most stockings won't fall without the garters, but the flashes add color to the outfit. Often the flashes match an accent color in the kilt, such as a small red or green stripe in the pattern, though it is not incorrect to also match your kilt's base color. Just be certain that you purchase a color that properly matches your kilts colors.
              %p{ :align => "justify" }
                Make certain that your flashes match on both legs. Expose the same amount of flash on each side and be sure to line them up evenly.
              %p{ :align => "justify" }
                %b Brogues and ghillie brogues.
                It is important that you wear nice black leather brogues with your outfit. Your standard brogue is appropriate for semi-formal occasions. For more formal occasions, it is recommended that you purchase a proper set of ghillie brogues. Ghillies are similar to regular brogues though they are open on the top with no tongue and they lace up the calf. 
              %p{ :align => "justify" }
                Lacing the ghillies can be tricky, and it depends on the length of your shoestrings. However, generally the strings are twisted round twice in the front, then wound around the back of the calf, twisted once in the back, wound back round the front of the calf and then laced. 
              %p{ :align => "justify" }
                %b Dress shirt.
                The shirt of choice for semi-formal attire is the button-up long-sleeve dress shirt. A button-down collar is completely optional. The most versatile color would be white, though light pastel blue and greens can match the kilt nicely. It is best to avoid patterned styles, especially for more formal occasions. Solid colors are usually your best bet. However, a subtle pin-stripe pattern can compliment the outfit agreeably. A well-coordinated Seersucker shirt can also rather pleasing on more informal occasions. 
              %p{ :align => "justify" }
                %b Necktie.
                Coordinating a necktie can be a bit of a trick, but this is also the one fixture of the kilt outfit that gives you the most opportunity for individual creativity. It is best to avoid loud patterns, and a tartan tie should 
                %i never 
                be worn with the kilt, even if it matches your tartan. Stripe patterns tend to compliment the kilt best, especially those that highlight the colors of the kilt tartan. Solid color ties are quite safe as well, and they should often coordinate with the garter flashes. For those wishing to play it totally safe, one can never miss with a black necktie. Be sure to wear polyester or silk for more formal occasions and save the wool tie for informal events.
              %p{ :align => "justify" }
                The four-in-hand knot is the most common way to tie the necktie and is perfectly acceptable. However, the Windsor knot looks nice and symmetrical for more formal occasions.
              %p{ :align => "justify" }
                %b Argyll style kilt jacket. 
                A proper kilt jacket is the most under-appreciated fixture of the kilt outfit. A proper jacket can make or break the outfit, and it must be noted straight away that a blazer should 
                %i never 
                be worn with the kilt. Blazers are cut to be worn with trousers. Worn over a kilt the blazer looks unusually long, hiding much of the kilt under its length. The kilt jacket is just shorter to display more of the kilt. 
              %p{ :align => "justify" }
                The most versatile kilt jacket is the black Argyll style kilt jacket made of barethea wool. This jacket is appropriate for both semi-formal day and formal evening functions. Unlike the blazer, the kilt jacket is never buttoned when worn.
              %p{ :align => "justify" }
                An optional waistcoat or vest may also be worn under the jacket. This can be quite a dapper addition to the outfit giving a slightly more formal look. Some individuals choose not to button the bottom button of their waistcoat. This is not an unbendable rule, just a matter of preference. 
              %p{ :align => "justify" }
                %b Headwear.
                One may finish the kilt outfit with the proper headwear. The most appropriate headwear for the kilt-wearer is the Balmoral bonnet as worn by the Black Watch (Royal Highland Regiment). Bonnets are made of wool and usually come in an assortment of colors. Black is highly recommended. Some are available with red, black, and white diced band. Whether you wear your bonnet with or without dicing is a matter of preference, but most wear the bonnet a solid black band. 
              %p{ :align => "justify" }
                The black bow or "cockade" should be worn on the left side of the head. A regimental or clan badge may be pinned to the cockade. The flat crown of the bonnet should cant to the right at a rakish angle. Ribbons from the band are to hang down behind the bonnet over the back of the neck. Some tie the ribbons up in a bow. It is said that this distinguishes a married man from a bachelor, but there is no basis in tradition for this. 
              %p{ :align => "justify" }
                Another cap called the Glengarry cap may be worn. The Glengarry is a boat-shaped cap made of thick-milled wool. It is normally worn as part of Scottish military dress and may be more appropriate for those who have served in the Armed Forces or who are pipe bandsmen.
              %p{ :align => "justify" }
                %b Are you going commando? 
                It is assumed that all kilt-wearers must "go commando," or wear the kilt without undergarments. However, this is strictly a matter of personal comfort. Each lad must decide for himself. But should you choose to wear undergarments, without a doubt the most comfortable undergarments are compression shorts, which are form-fitting shorts made from a spandex-type material that cover from waist to mid thigh. Additionally, compression shorts minimize chafing and wick away sweat from the body, which is ideal for the Scot familiar with Alabama summers. 
              %p{ :align => "justify" }
                Eventually, you will be asked by someone what you wear under your kilt. There is no shortage of witty answers, so we saw fit to share a few. 
                %i Warning: Some of these may be a wee bit bawdy, so read on with caution.
              %p{ :align => "justify" }
                %ul
                  %li Shoes and socks.
                  %li My Scottish pride.
                  %li How badly do you want to know?
                  %li To a laddie: Same as you laddie, only bigger.
                  %li To a lassie (if you dare): How warm are your hands?
                  %li A tether. I had to tie it up so it wouldnae hang below my kilt.
              %p{ :align => "justify" }
                One last important point: It is commonly accepted that if a lad is truly a gentleman, he will choose to wear undergarments when the lassies and wee bairns are present. 
            %span.bigred
              Where to Purchase Your Highland Attire</font></p>
            %span.toplinks
              %p{ :align => "justify" }
                Now that you have completed your crash course in how to wear your kilt outfit, it's now time to take the leap and make your purchases.
              %p{ :align => "justify" }
                We would first recommend 
                %b J. Higgins, Ltd.
                for all your immediate needs. They have been in business since 1983 and have maintained the most competitive prices in the market. All of their tartans and woolens are imported directly from Scotland and they can weave fabric if you cannot find the tartan you are looking for. When you call, ask for 
                %b Schwab
                as he has been most helpful to our pipe band.
              %p{ :align => "center" }
                %b
                  J. Higgins, Ltd.
                  %br
                  10559 Lackman Road
                  %br
                  Lenexa, Kansas 66219
                  %br
                  WWW: 
                  %a{ :href => "http://jhiggins.net/", :target => "_blank" } jhiggins.net
                  %br
                  Email: 
                  %a{ :href => "mailto:john@jhiggins.net" } john@jhiggins.net
                  %br
                  TEL: (800) 426-7268 or (913) 894-0220
              %p{ :align => "center" }
                If you are buying for the first time, be sure to ask about their complete kilt outfits they offer at a discounted price! 

            %p{ :align => "right" }
              %span.toplinks
                %b
                  %a{ :href => "highland_attire#top"} 
                    %img{ :src => "/imgs/top.png", :border => "no" }
                      Return to the Top
          %td{ :width => "10", :bgcolor => "#F9F9F9" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "12", :height => "20", :background => "/imgs/whtBLcorner.png" }
          %td{ :width => "576", :height => "20", :bgcolor => "#F9F9F9" }
          %td{ :width => "12", :height => "20", :background => "/imgs/whtBRcorner.png" }