%table{ :colspan => "3" }
  %tr
    = partial 'members/sidemenu'
    %td{ :width => "600", :height => "220", :valign => "top" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "12", :height => "20", :background => "/imgs/whtTLcorner.png" }
          %td{ :width => "576", :height => "20", :bgcolor => "#F9F9F9" }
          %td{ :width => "12", :height => "20", :background => "/imgs/whtTRcorner.png" }

      %table
        %tr
          %td{ :width => "10", :bgcolor => "#F9F9F9" }
          %td{ :width => "580", :height => "163", :valign => "top", :bgcolor => "#F9F9F9" }
            %p{ :align => "center" }
              %img{ :src => "/imgs/heritage_award_2009.png" }
            %span.bigred 
              Heritage Award 2009
            %p{ :align => "justify" }
              %span.toplinks
                Every year the Saint Andrews Society of the Middle South awards one of its members with its highest honor: the Heritage Award. The Heritage Award is given to members who exemplify outstanding achievement on behalf of Scottish culture, duly noted by significant lifelong contribution to community, business and family. Our congratulations go out to Stan Graves for being 2009's recipient of the Heritage Award. Fair play to you Stan!
            %span.bigred 
              Membership Updates
            %p{ :align => "justify" }
              %span.toplinks
                %b Updated July 21, 2009 by Mary Margaret Hendry
              %span.toplinks
                %p{ :align => "justify" }             
                  %b We Welcome the Following New Members
                  %li Willard McCall III (#565)
                  %li John Alfred Gran (#566)
                  %li Joseph Michael Patrick (#567)
                  %li Enoch Carter Morris (#568)
              %span.toplinks
                %p{ :align => "justify" }
                  %b Awaiting Genaology
                  %li Brian Anthony Bowman</li>
                  %li David Alexander Bright</li>
                  %li Thomas Edwin Moody</li>
                  %li Alan John Murray</li>
                  %li David Noone</li>
                  %li James Douglas Williams</li>
                %p{ :align => "justify" }
                  %b First Reading (July 22, 2009)
                  %li Jonathan Gibbs Watson (Jeff Hendry)</li>
                  %li Joseph Miller (Joe Farley)</li>
            %p{ :align => "justify" }
              %span.bigred 
                Need to Update Your Contact Info?
              %p{ :align => "justify" }
                %span.toplinks
                  %b Have you moved? Are you moving? Has your telephone or email changed?
                  Please email us any updates to your contact information so that you can stay informed of our events! To make any changes, please email our Society Secretarial Support 
                  %a{ :href => "mailto:mmhendry@charter.net" } Mary Margaret Hendry
                  \.
            %p{ :align => "right" }
              %span.toplinks
                %b
                  %a{ :href => "membership_resources#top"} 
                    %img{ :src => "/imgs/top.png", :border => "no" }
                      Return to the Top
          %td{ :width => "10", :bgcolor => "#F9F9F9" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "12", :height => "20", :background => "/imgs/whtBLcorner.png" }
          %td{ :width => "576", :height => "20", :bgcolor => "#F9F9F9" }
          %td{ :width => "12", :height => "20", :background => "/imgs/whtBRcorner.png" }