%table{ :colspan => "3" }
  %tr
    = partial 'members/sidemenu'
    %td{ :width => "600", :height => "220", :valign => "top" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "12", :height => "20", :background => "/imgs/whtTLcorner.png" }
          %td{ :width => "576", :height => "20", :bgcolor => "#F9F9F9" }
          %td{ :width => "12", :height => "20", :background => "/imgs/whtTRcorner.png" }

      %table
        %tr
          %td{ :width => "10", :bgcolor => "#F9F9F9" }
          %td{ :width => "580", :height => "163", :valign => "top", :bgcolor => "#F9F9F9" }
            %span.bigred 
              Officer Roster 2010
            %span.toplinks
              %p{ :align => "center" }
                %table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :colspan => "4" }
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td{ :width => "200" }
                      %b Dr.  John A. Smith
                    %td{ :width => "165" } 
                      President
                    %td{ :width => "210" }
                      jas [at] uab [dot] edu
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Jeffery Parker Hendry
                    %td Vice President
                    %td jhendry [at] pvht [dot] com
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Charles Smith
                    %td Secretary
                    %td cwds [at] bellsouth [dot] net
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b J. Wilson Dinsmore
                    %td Treasurer
                    %td wdinsmore [at] aol [dot] com
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Erskine Ramsay
                    %td Genealogist
                    %td eramsay [at] brasfieldgoree [dot] com
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Emory Kyle Kirkwood
                    %td Deputy Genealogist
                    %td 
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Arthur McConnell
                    %td Geneaologist Emeritus
                    %td amcconnell [at] mcconnellsales [dot] com
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b E.T. Brown III
                    %td Historian
                    %td et [at] indiansprings [dot] org
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Robert E. Walker IV
                    %td Deputy Historian
                    %td
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Barton Thomas Crawford
                    %td Chancellor
                    %td crawford [at] bham [dot] rr [dot] com
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Norman M. Orr
                    %td Vice Chancellor
                    %td norr [at] burr [dot] com
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Ryan Morrison
                    %td Pipe Major (and Webmajor)
                    %td ryan [at] birminghambagpiper [dot] com
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Dr. J. Donald Carmichael
                    %td Surgeon
                    %td doncar [at] carmichael1 [dot] com
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Dr. Lamar Thomas
                    %td Deputy Surgeon
                    %td ettarich [at] aol [dot] com
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b The Very Reverend John Harris Harper
                    %td Chaplain
                    %td john [at] cathedraladvent [dot] com
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b The Rev. Ben Turnage
                    %td Deputy Chaplain
                    %td
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Kevin P. Keith
                    %td Sergeant at Arms
                    %td kpkwsw [at] bellsouth [dot] net
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Mary Margaret Hendry
                    %td Society Secretarial Support
                    %td mmhendry [at] charter [dot] net
            %p
            %span.bigred 
              Vice Presidents at Large
            %span.toplinks
              %p{ :align => "center" }
                %table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :colspan => "4" }
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td{ :width => "200" } 
                      %b Frank Cobb III
                    %td{ :width => "165" }
                    %td{ :width => "210" }
                      frankfly [at] aol [dot] com
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Russell Cunningham
                    %td
                    %td rmc3mail [at] bellsouth [dot] net
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Coleman Daniel
                    %td
                    %td
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Charles M. Hunter
                    %td
                    %td
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Robert G. Kenan, Jr.
                    %td
                    %td
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Kyle Kirkwood
                    %td
                    %td kkirkwood [at] gastudio [dot] com
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Colin Luke
                    %td
                    %td cluke [at] balch [dot] com
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Charles J. McCarn
                    %td
                    %td cjmc1 [at] pinoakadvisors [dot] com
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Lawrence McKiernan
                    %td
                    %td csmckiernan [at] juno [dot] com
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Gibson McKenzie 
                    %td
                    %td
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Dr. John F. McRae
                    %td
                    %td
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Wimberly Miree, Jr.
                    %td
                    %td wmiree [at] mindspring [dot] com
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Roy Morton
                    %td
                    %td
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Charles Northern
                    %td
                    %td northen3 [at] bellsouth [dot] net
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Judge Edward L. Ramsay
                    %td
                    %td eramsey [at] aol [dot] com
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Richard Randolph
                    %td
                    %td
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Dr. David Sarver
                    %td
                    %td sarverd [at] aol [dot] com
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Hanson Slaughter
                    %td
                    %td hslaughter [at] sterneagee [dot] com
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Frederick Smith
                    %td
                    %td flssr [at] bellsouth [dot] net
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Leon Southerland
                    %td
                    %td hdsoutherland [at] aol [dot] com
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Roy Stewart, Jr.
                    %td
                    %td ctands [at] bellsouth [dot] net
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Roger C. Vaughn
                    %td
                    %td roger_vaughan [at] msn [dot] com
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b James Wright
                    %td
                    %td jwrigh9 [at] bellsouth [dot] net
            %p
            %span.bigred 
              Vice Presidents of the States
            %span.toplinks
              %p{ :align => "center" }
                %table{ :border => "0", :cellpadding => "0", :cellspacing => "0", :colspan => "4" }
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td{ :width => "200" } 
                      %b John Napier
                    %td{ :width => "165" }
                      Alabama
                    %td{ :width => "210" }
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Rice Baxter
                    %td Florida
                    %td riceb [at] baxteradvertising [dot] com
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Martin Tilson
                    %td Georgia
                    %td 
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b John Gleissner
                    %td Louisiana
                    %td johngleissner [at] charter [dot] net
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Tommy Goodman
                    %td Mississippi
                    %td tommygoodman [at] hkw [dot] com
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Paul Leonard
                    %td North Carolina
                    %td pasteleo [at] aol [dot] com
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b John Horter Williams
                    %td Oklahoma
                    %td john.williams [at] wiliams [dot] com
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Charles M. Miller
                    %td South Carolina
                    %td cmiller73 [at] bellsouth [dot] net
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Lawrence Dumas III
                    %td Tennessee
                    %td 
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b J. Sharp Gillespy IV
                    %td Texas
                    %td sgillespy [at] charter [dot] net
                  %tr{ :bgcolor => "#D7DFE2", :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Dr. Donald Slappey
                    %td Virginia
                    %td 
                  %tr{ :height => "20" }
                    %td{ :width => "5" }
                    %td 
                      %b Charles M. Miller, Jr.
                    %td West Virginia
                    %td 
                    %td 
            %p{ :align => "right" }
              %span.toplinks
                %b
                  %a{ :href => "officer_roster#top"} 
                    %img{ :src => "/imgs/top.png", :border => "no" }
                      Return to the Top
          %td{ :width => "10", :bgcolor => "#F9F9F9" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "12", :height => "20", :background => "/imgs/whtBLcorner.png" }
          %td{ :width => "576", :height => "20", :bgcolor => "#F9F9F9" }
          %td{ :width => "12", :height => "20", :background => "/imgs/whtBRcorner.png" }