%table{ :colspan => "3" }
  %tr
    = partial 'members/sidemenu'
    %td{ :width => "600", :height => "220", :valign => "top" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "12", :height => "20", :background => "/imgs/whtTLcorner.png" }
          %td{ :width => "576", :height => "20", :bgcolor => "#F9F9F9" }
          %td{ :width => "12", :height => "20", :background => "/imgs/whtTRcorner.png" }

      %table
        %tr
          %td{ :width => "10", :bgcolor => "#F9F9F9" }
          %td{ :width => "580", :height => "163", :valign => "top", :bgcolor => "#F9F9F9" }
            %span.bigred 
              Photo Gallery
            %span.toplinks
              %p{ :align => "justify" }
                Below is a gallery of photos from past society functions. To view each thumbnail image below as a larger image, just move your pointer over the thumbnail image and click it. This page requires JavaScript to view correctly. Be sure that JavaScript is enabled on your machine. 
              %p{ :align => "justify" }
                %b Kilty Happy Hour at Dram June 2009
                (Submitted by Joe Farley)
                %p{ :align => "center" } 
                  %table{ :colspan => "9" }
                    %tr
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Kilty_Happy_Hour_June_2009/Kilty_Happy_Hour_June_2009_001.JPG", :onclick => "showImg(this.href,480,640,'Kilty_Happy_Hour_June_2009_001.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb11.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Kilty_Happy_Hour_June_2009/Kilty_Happy_Hour_June_2009_002.JPG", :onclick => "showImg(this.href,480,640,'Kilty_Happy_Hour_June_2009_002.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb12.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Kilty_Happy_Hour_June_2009/Kilty_Happy_Hour_June_2009_003.JPG", :onclick => "showImg(this.href,480,640,'Kilty_Happy_Hour_June_2009_003.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb13.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Kilty_Happy_Hour_June_2009/Kilty_Happy_Hour_June_2009_004.JPG", :onclick => "showImg(this.href,480,360,'Kilty_Happy_Hour_June_2009_004.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb14.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Kilty_Happy_Hour_June_2009/Kilty_Happy_Hour_June_2009_005.JPG", :onclick => "showImg(this.href,480,640,'Kilty_Happy_Hour_June_2009_005.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb15.png", :border => "no" }
                    %tr
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Kilty_Happy_Hour_June_2009/Kilty_Happy_Hour_June_2009_006.JPG", :onclick => "showImg(this.href,480,640,'Kilty_Happy_Hour_June_2009_006.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb16.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Kilty_Happy_Hour_June_2009/Kilty_Happy_Hour_June_2009_007.JPG", :onclick => "showImg(this.href,480,640,'Kilty_Happy_Hour_June_2009_007.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb17.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Kilty_Happy_Hour_June_2009/Kilty_Happy_Hour_June_2009_008.JPG", :onclick => "showImg(this.href,480,640,'Kilty_Happy_Hour_June_2009_008.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb18.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Kilty_Happy_Hour_June_2009_009.JPG", :onclick => "showImg(this.href,480,640,'Kilty_Happy_Hour_June_2009_009.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb19.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Kilty_Happy_Hour_June_2009/Kilty_Happy_Hour_June_2009_010.JPG", :onclick => "showImg(this.href,480,360,'Kilty_Happy_Hour_June_2009_010.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb20.png", :border => "no" }
                %b Spring Party May 2009
                (Submitted by Joe Farley)
                %p{ :align => "center" } 
                  %table{ :colspan => "9" }
                    %tr
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Spring_Party_May_2009/Spring_Party_May_2009_001.JPG", :onclick => "showImg(this.href,439,604,'Spring_Party_May_2009_001.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb1.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Spring_Party_May_2009/Spring_Party_May_2009_002.JPG", :onclick => "showImg(this.href,480,360,'Spring_Party_May_2009_002.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb2.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Spring_Party_May_2009/Spring_Party_May_2009_003.JPG", :onclick => "showImg(this.href,474,574,'Spring_Party_May_2009_003.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb3.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Spring_Party_May_2009/Spring_Party_May_2009_004.JPG", :onclick => "showImg(this.href,480,640,'Spring_Party_May_2009_004.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb4.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Spring_Party_May_2009/Spring_Party_May_2009_005.JPG", :onclick => "showImg(this.href,452,574,'Spring_Party_May_2009_005.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb5.png", :border => "no" }
                    %tr
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Spring_Party_May_2009/Spring_Party_May_2009_006.JPG", :onclick => "showImg(this.href,480,640,'Spring_Party_May_2009_006.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb6.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Spring_Party_May_2009/Spring_Party_May_2009_007.JPG", :onclick => "showImg(this.href,480,640,'Spring_Party_May_2009_007.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb7.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Spring_Party_May_2009/Spring_Party_May_2009_008.JPG", :onclick => "showImg(this.href,477,565,'Spring_Party_May_2009_008.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb8.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Spring_Party_May_2009/Spring_Party_May_2009_009.JPG", :onclick => "showImg(this.href,480,640,'Spring_Party_May_2009_009.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb9.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Spring_Party_May_2009/Spring_Party_May_2009_010.JPG", :onclick => "showImg(this.href,600,392,'Spring_Party_May_2009_010.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb10.png", :border => "no" }
                %b Heritage Night October 2008
                (Submitted by Joe Farley)
                %p{ :align => "center" } 
                  %table{ :colspan => "9" }
                    %tr
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Heritage_Night_October_2008/Heritage_Night_October_2008_001.JPG", :onclick => "showImg(this.href,423,640,'Heritage_Night_October_2008_001.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb21.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Heritage_Night_October_2008/Heritage_Night_October_2008_002.JPG", :onclick => "showImg(this.href,377,640,'Heritage_Night_October_2008_002.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb22.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Heritage_Night_October_2008/Heritage_Night_October_2008_003.JPG", :onclick => "showImg(this.href,480,640,'Heritage_Night_October_2008_003.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb23.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Heritage_Night_October_2008/Heritage_Night_October_2008_004.JPG", :onclick => "showImg(this.href,480,360,'Heritage_Night_October_2008_004.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb24.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Heritage_Night_October_2008/Heritage_Night_October_2008_005.JPG", :onclick => "showImg(this.href,480,640,'Heritage_Night_October_2008_005.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb25.png", :border => "no" }
                    %tr
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Heritage_Night_October_2008/Heritage_Night_October_2008_006.JPG", :onclick => "showImg(this.href,480,640,'Heritage_Night_October_2008_006.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb26.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Heritage_Night_October_2008/Heritage_Night_October_2008_007.JPG", :onclick => "showImg(this.href,480,360,'Heritage_Night_October_2008_007.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb27.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Heritage_Night_October_2008/Heritage_Night_October_2008_008.JPG", :onclick => "showImg(this.href,480,640,'Heritage_Night_October_2008_008.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb28.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Heritage_Night_October_2008/Heritage_Night_October_2008_009.JPG", :onclick => "showImg(this.href,480,360,'Heritage_Night_October_2008_009.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb29.png", :border => "no" }
                      %td{ :width => "10", :height => "108" }
                      %td{ :width => "108", :height => "108" }
                        %a{ :href => "/gallery/Heritage_Night_October_2008/Heritage_Night_October_2008_010.JPG", :onclick => "showImg(this.href,433,640,'Heritage_Night_October_2008_010.JPG');return false" }
                          %img{ :src => "/gallery/thumbs/thumb30.png", :border => "no" }
              %p{ :align => "right" }
                %span.toplinks
                  %b
                    %a{ :href => "photo_gallery#top"} 
                      %img{ :src => "/imgs/top.png", :border => "no" }
                        Return to the Top
          %td{ :width => "10", :bgcolor => "#F9F9F9" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "12", :height => "20", :background => "/imgs/whtBLcorner.png" }
          %td{ :width => "576", :height => "20", :bgcolor => "#F9F9F9" }
          %td{ :width => "12", :height => "20", :background => "/imgs/whtBRcorner.png" }