%table{ :colspan => "3" }
  %tr
    = partial 'members/sidemenu'
    %td{ :width => "600", :height => "100", :valign => "top" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "12", :height => "20", :background => "/imgs/whtTLcorner.png" }
          %td{ :width => "576", :height => "20", :bgcolor => "#F9F9F9" }
          %td{ :width => "12", :height => "20", :background => "/imgs/whtTRcorner.png" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "10", :bgcolor => "#F9F9F9" }
          %td{ :width => "580", :bgcolor => "#F9F9F9" }
            %table
              %tr
                %td{ :width => "580", :valign => "top" }
                  %span.bigred
                    Upcoming Events
                  %p
                    %table.events{ :bgcolor => "#D7DFE2" }
                      %tr
                        %td{ :width => "20" }
                          %img{ :src => "/imgs/31.png", :align => "top" }
                        %td{ :width => "560" }
                          %span.littlered
                            Bagpipes and Birdies Golf Tourney
                      %tr
                        %td{ :width => "20" }
                        %td{ :width => "560" }
                          %span.toplinks
                            %b 
                              Thursday October 14, 2010 11:00 am :: 
                              %a{ :href => "http://www.vestaviacc.com/", :target => "_blank" } Vestavia Country Club 
                              ( 
                              %a{ :href => "http://maps.google.com/maps?rlz=1C1_____en___US321&sourceid=chrome&um=1&ie=UTF-8&q=vestavia+country+club&near=Birmingham,+AL&fb=1&split=1&gl=us&view=text&latlng=14225570675230920084&ei=esVaSv_uHcKvtwelxpGaCQ&sa=X&oi=local_result&ct=result&resnum=5", :target => "_blank" } Get Directions 
                              )
                            %br
                            %p Join us for our annual kilted golf tourney at the Vestavia Country Club. Eighteen holes lubricated by a little "water of life" with bagpipe accompaniment by our own Pipe Major Ryan Morrison.
                    %table.events
                      %tr
                        %td{ :width => "20" }
                          %img{ :src => "/imgs/31.png", :align => "top" }
                        %td{ :width => "560", :height => "20" }
                          %span.littlered
                            %b Heritage Night
                      %tr
                        %td{ :width => "20" }
                        %td{ :width => "560", :height => "20" }
                          %span.toplinks
                            %b 
                              Thursday October 14, 2010 7:00 pm :: 
                              %a{ :href => "http://www.vestaviacc.com/", :target => "_blank" } Vestavia Country Club 
                              ( 
                              %a{ :href => "http://maps.google.com/maps?rlz=1C1_____en___US321&sourceid=chrome&um=1&ie=UTF-8&q=vestavia+country+club&near=Birmingham,+AL&fb=1&split=1&gl=us&view=text&latlng=14225570675230920084&ei=esVaSv_uHcKvtwelxpGaCQ&sa=X&oi=local_result&ct=result&resnum=5", :target => "_blank" } Get Directions 
                              )
                            %br
                            %p Our annual fundraiser event with a raffle to raise money for our own Ian Sturrock Memorial Pipe Band. All members and guests will gather for a social hour followed by dinner and entertainment. This year the two-time award-winning Ian Sturrock Memorial Pipe Band will perform. Pipe Major Ryan Morrison will also provide the attendees with a brief presentation about the band and their future plans. Following the entertainment there will be a live auction. This is a great event for prospective members!
                    %table.events{ :bgcolor => "#D7DFE2" }
                      %tr
                        %td{ :width => "20" }
                          %img{ :src => "/imgs/31.png", :align => "top" }
                        %td{ :width => "560", :height => "20" }
                          %span.littlered
                            %b Annual Member's Luncheon
                      %tr
                        %td{ :width => "20" }
                        %td{ :width => "560", :height => "20" }
                          %span.toplinks
                            %b 
                              Saturday December 5, 2009 12:00 pm :: 
                              %a{ :href => "http://www.ccbham.org/", :target => "_blank" } Birmingham Country Club 
                              ( 
                              %a{ :href => "http://maps.google.com/maps?rlz=1C1_____en___US321&sourceid=chrome&um=1&ie=UTF-8&cid=0,0,12871840100479004136&fb=1&split=1&gl=us&dq=birmingham+country+club&daddr=3325+Country+Club+Rd,+Birmingham,+AL+35213-3636&geocode=12384818204436396507,33.498989,-86.765145&ei=A8paSquCJJD7tgfCkPyZCQ&sa=X&oi=local_result&ct=directions-to&resnum=1" } Get Directions 
                              )
                            %br
                            %p Members only annual luncheon for the election of Officers.
                    %table.events
                      %tr
                        %td{ :width => "20" }
                          %img{ :src => "/imgs/31.png", :align => "top" }
                        %td{ :width => "560", :height => "20" }
                          %span.littlered
                            %b Annual Banquet and Ball
                      %tr
                        %td{ :width => "20" }
                        %td{ :width => "560", :height => "20" }
                          %span.toplinks
                            %b 
                              Saturday December 11, 2010 6:00 pm :: 
                              %a{ :href => "http://www.ccbham.org/", :target => "_blank" } Birmingham Country Club 
                              ( 
                              %a{ :href => "http://maps.google.com/maps?rlz=1C1_____en___US321&sourceid=chrome&um=1&ie=UTF-8&cid=0,0,12871840100479004136&fb=1&split=1&gl=us&dq=birmingham+country+club&daddr=3325+Country+Club+Rd,+Birmingham,+AL+35213-3636&geocode=12384818204436396507,33.498989,-86.765145&ei=A8paSquCJJD7tgfCkPyZCQ&sa=X&oi=local_result&ct=directions-to&resnum=1" } Get Directions 
                              )
                            %br
                            %p
                              The society's formal Saint Andrew's Banquet and Ball with entertainment by the 
                              %a{ :href => "http://ismpb.com", :target => "_blank" } Ian Sturrock Memorial Pipe Ban                              and Celtic music ensemble 
                              %a{ :href => "http://www.hooleymusic.com/", :target => "_blank" } Hooley
                              \. Social hour begins at 6:00 pm and dinner is served at 7:00 pm. The evening's festivities include the Presentation of the Colors, the Parading of and Toast to the Haggis, and the Procession of Past Presidents.
                    %table.events{ :bgcolor => "#D7DFE2" }
                      %tr
                        %td{ :width => "20" }
                          %img{ :src => "/imgs/31.png", :align => "top" }
                        %td{ :width => "560", :height => "20" }
                          %span.littlered
                            %b Kirkin' o' the Tartans
                      %tr
                        %td{ :width => "20" }
                        %td{ :width => "560", :height => "20" }
                          %span.toplinks
                            %b Sunday December 12, 2010 11:00 am :: Location TBD
                            %br
                            %p Our annual church service. Scottish attire is encouraged. Be sure to bring a swatch of tartan for the Blessing of the Tartans.
                    %table.events
                      %tr
                        %td{ :width => "20" }
                          %img{ :src => "/imgs/31.png", :align => "top" }
                        %td{ :width => "560", :height => "20" }
                          %span.littlered
                            %b Annual Family Luncheon
                      %tr
                        %td{ :width => "20" }
                        %td{ :width => "560", :height => "20" }
                          %span.toplinks
                            %b 
                              Sunday December 12, 2010 12:30 pm ::
                              %a{ :href => "http://www.mountainbrookclub.org/", :target => "_blank" } Mountain Brook Club 
                              ( 
                              %a{ :href => "http://maps.google.com/maps?hl=en&rlz=1C1_____en___US321&um=1&ie=UTF-8&q=Mountain+Brook+Club+birmingham&fb=1&split=1&gl=us&view=text&latlng=13111497909816864777&ei=bMtaSpmBMpLItgeD6syaCQ&sa=X&oi=local_result&ct=result&resnum=1" } Get Directions 
                              )
                            %br
                            %p Luncheon following the Kirkin' for members and members' families.
          %td{ :width => "10", :bgcolor => "#F9F9F9" }
      %table{ :colspan => "3" }
        %tr
          %td{ :width => "12", :height => "20", :background => "/imgs/whtBLcorner.png" }
          %td{ :width => "576", :height => "20", :bgcolor => "#F9F9F9" }
          %td{ :width => "12", :height => "20", :background => "/imgs/whtBRcorner.png" }